@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
    --tastyblue: #018ecb;
    --cornyellow: #ffde59;
    --slaybeige: #feffea;
    --hungryblue: #00477d;
    --staryellow: #ffce38;
}

/* RECIPE CARD STYLING */

.recipes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: var(--hungryblue);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
    width: 40%;
    padding: auto;
    box-shadow: 3px 3px 5px gray;
}

.recipe_header {
    font-family: 'Raleway', sans-serif;
    color: var(--staryellow);
    font-size: xx-large;
    text-align: center;
}

.recipe_text {
    width: 70%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    color: var(--slaybeige)
}

/* COMMENT DIV STYLING */

.comment_header {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: var(--staryellow);
    font-size: large;
    text-align: center;
}

/* I want the comment section on each recipe to feel blocked off ?? */
.comment_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Raleway', sans-serif;
}

.comment {
    background-color: #f2f2f2; /* Change the background color as needed */
    padding: 10px;
    margin-bottom: 10px;
    color: #00477d;
    border-radius: 30px; /* Add spacing between comments */
    /* Add any other styling for comments */
}

.comment_container .comment {
    color: #00477d;
    font-family: 'Raleway', sans-serif;
    font-weight: bold; /* Set the text color */
}


.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage_header {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
}

.top-bottom_button {
    align-self: flex-end;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 70px;
}

.span.button-text {
    font-family: 'Raleway', sans-serif;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: auto; /* Pushes the buttons to the bottom */
}

.fill-button {
    margin-left: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.form_button {
    float: right;
}