:root {
    --tastyblue: #018ecb;
    --cornyellow: #ffde59;
    --slaybeige: #feffea;
    --hungryblue: #00477d;
    --staryellow: #ffce38;
    --Work-Sans: 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap'
}

/* ADD CSS STYLING */

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  fieldset {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }

  .textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }