:root {
    --tastyblue: #018ecb;
    --cornyellow: #ffde59;
    --slaybeige: #feffea;
    --hungryblue: #00477d;
    --staryellow: #ffce38;
    --Work-Sans: 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap'
}

.my_recipes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.my_recipe {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: linear-gradient(to bottom right, var(--hungryblue), var(--tastyblue));
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
    width: 40%;
    padding: auto;
    box-shadow: 3px 3px 5px gray;
}

.profile_header {
    font-family: var(--Work-Sans);
    font-size: 35px;
    text-align: center;
    color: var(--hungryblue)
}

.recipe_header {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: var(--staryellow);
    font-size: xx-large;
    text-align: center;
}

.recipe_text {
    width: 70%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    color: var(--slaybeige)
}

.comment_header {
    font-family: 'Raleway', sans-serif;
    color: var(--staryellow);
    font-size: large;
    text-align: left;
}

/* I want the comment section on each recipe to feel blocked off ?? */
.comment_container {
    color: var(--cornyellow)
}

.comment {
    width: 70%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: var(--Work-Sans);
    color: var(--slaybeige)
}