body,
button,
input,
select,
textarea {
  color: #00477d;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

.title--main {
  margin: 1rem;
}

.home_phrase {
  margin: 1rem;
  font-family: Lilita One, cursive;
  text-align: center;
}

/* @font-face {
  font-family: 'CustomFont';
  src: url('./YourFontFile.ttf') format('truetype');
  /* Additional font properties (e.g., font-weight, font-style) can be specified here */
