@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

:root {
    --tastyblue: #018ecb;
    --cornyellow: #ffde59;
    --slaybeige: #feffea;
    --hungryblue: #00477d;
    --staryellow: #ffce38;
    --Work-Sans: 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap'
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--tastyblue);
    width: 100%;
    margin: 0px;
    border-bottom: 3px var(--cornyellow);
    box-shadow: 0px 0px 5px var(--tastyblue)
}

.nav_link_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    padding: 0px 15px ;
    margin-top: 35px;
    margin-left: 75px;
}

.menu_logo {
    width: 250px
}

.navbar__link {
    text-decoration: none;
    font-size: 200%;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: var(--cornyellow)
}

.nav-link {
    text-decoration: none;
    font-size: 200%;
    font-family: 'Work Sans', sans-serif;
    color: var(--cornyellow);
    list-style-type: none;
    font-weight: bold;
}

.navbar__item {
    list-style-type: none;
}

.navbar__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%
}

.logout-link{
    color: #CC8B65!important;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10em;
    font-size: 200%;
    list-style-type: none;
}

.logout-link:hover{
    color:white!important;
    text-decoration: underline;
    font-weight: bold;
}

/*---------LINK ANIMATIONS------------*/

.navbar__link {
	text-decoration: none;
	transition: .25s ease;
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	
	.navbar__item {
		margin-left: .75em;
		margin-right: .75em;
	}
	
	&:hover {
		a {
			color: var(--darkblue);
			&:hover {
				color: var(--happygreen);
				box-shadow: 0 2px 0 0 currentcolor;
			}
		}
	}
}